# macOS metadata
.DS_Store
**/.DS_Store

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdy

# Beamer and listings
*.nav
*.snm
*.vrb

# Ignore all PDFs except the final compiled thesis
*.pdf
!BridgingBlackBoxes.pdf